<div id="header"><h1>{{title}}</h1></div>
<div id="body">
<p>You just created a new <strong><a href="https://github.com/robi42/jvm-ng-app">Heroku/Stick/Rogue/Mongo app</a></strong>.</p>
<p>Here are some possible next steps:</p>
<ul>
    <li>Tweak the URL routing or middleware stack, edit and add actions in <code>src/main/coffee</code>.</li>
    <li>Adapt the mustache templates in the <code>templates</code> directory to your liking.</li>
    <li>Visit our <a href="http://ringojs.org/documentation/">documentation</a> to learn more about Ringo.</li>
</ul>
<p>Exemplary RESTful API's routed at: <strong><a href="/docs">/docs</a></strong></p>
</div>
