<div id="header"><h1>{{title}}</h1></div>
<div id="body">
<p>You just created a new Heroku/Stick/Rogue/Mongo application. Here are some possible next steps:</p>
<ul>
    <li>Tweak the URL routing or middleware stack, edit and add actions in <code>src/main/coffee</code>.</li>
    <li>Adapt the mustache templates in the <code>templates</code> directory to your liking.</li>
    <li>Visit our <a href="http://ringojs.org/wiki/Documentation/">documentation</a> to learn more about Ringo.</li>
</ul>
<p>Exemplary RESTful API's routed at: <a href="/docs">/docs</a></p>
<p>Thank you for using Stick!</p>
</div>
